<%= render 'shared/error', obj: @student %>
<div class="container">
	<div class="row center sign-up-form">
		<div class="col s12 m12 l12">
			<div class="card-panel">
				<h4 class="center-align"><%= @student.new_record? ? 'Sign Up' : 'Edit Profile' %></h4>		
				<div class="row">
					<%= form_for(@student, html: {class: 'col s12'}) do |f| %>
						<div class="row">
							<div class="input-field col s12">
								<%= f.label :name, class: "active" %>
								<%= f.text_field :student_name, placeholder: "Enter your full name", autofocus: true%>
							</div>	
						</div>
						<div class="row">	
						    <div class="input-field col s12">
								<%= f.label :email, class: "active" %>
								<%= f.email_field :email, placeholder: "Enter your email", autofocus: true %>
							</div>	
						</div>
						<div class="row">	
						    <div class="input-field col s12">
								<%= f.label :password, class: "active" %>
								<%= f.password_field :password, placeholder: "Enter password", autofocus: true %>
							</div>	
						</div>
						<div class="row">	
						    <div class="input-field col s12">
								<%= f.label :password_confirmation, class: "active" %>
								<%= f.password_field :password_confirmation, placeholder: "Enter password confirmation", autofocus: true %>
							</div>	
						</div>
						<div class="row">	
						    <div class="input-field col s12">
								<%= f.button(@student.new_record? ? 'Sign Up' : 'Update Profile', class: "waves-effect waves-light btn-large")%>
							</div>
						</div>		
					<% end %>	
				</div>
			</div>			
		</div>
	</div>
</div>
